<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel">Share me</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out @fduperier's #Github page" data-hashtags="SoftwareEngineer,WebEntrepreneur" data-lang="en">Share</a>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="g-plus" data-action="share" data-annotation="none"></div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="fb-share-button" data-type="button_count"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <script type="IN/Share"></script>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="viadeo-share" data-display="btnlight" data-count="none" data-align="right" data-partner-id="ceOoOaDIgshxgijzlrujuqfedc"></div>
    </div>
  </div>
</div>

<!-- Sharing JS -->
<script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
<script type="text/javascript">var viadeoWidgetsJsUrl=document.location.protocol+"//widgets.viadeo.com";(function(){var e=document.createElement('script');e.type='text/javascript';e.async=true;e.src=viadeoWidgetsJsUrl+'/js/viadeowidgets.js';var s=document.getElementsByTagName('head')[0];s.appendChild(e);})();</script>