@font-face { font-family: 'Rock Salt'; font-style: normal; font-weight: 400; src: local('Rock Salt'), local('RockSalt'), url(../fonts/RockSalt.woff) format('woff'); }
h1 , .h1 { font-family: 'Rock Salt', cursive; }

.primary { color: #d60019 !important; }
.page-footer { padding-top: 9px; margin: 40px 0 20px; border-top: 1px solid #eeeeee; }

#profile-picture { max-width: 216px; margin: auto; }

.jumbotron h1 , .jumbotron .h1 { font-size: 28px; }

@media screen and (min-width: 768px) {
  .jumbotron h1, .jumbotron .h1 { font-size: 36px; line-height: 1.5; }
}

@media screen and (min-width: 992px) {
  .jumbotron h1, .jumbotron .h1 { font-size: 48px; line-height: 2; }
}
